<% deck_list = deck.deck_entries %>

<h3>Format: <%= deck.format %></h3>

<div class="container-fluid">
  <div class="row">
    <% deck_list.in_groups(2, false).each do |card_groups| %>
      <div class="col-4">
        <% card_groups.each do |card_link| %>
          <% my_card = card_link.my_card %>
          <% magic_card = my_card.magic_card %>

          <%= card_link.quantity %>x <a href="" onmouseover='showCardDetails(<%= my_card.box %>, "<%= magic_card.rarity %>", "<%= magic_card.mana_cost %>", "<%= magic_card.card_type %>", <%= magic_card.multiverse_id %>, "dos_prevention_<%= magic_card.image_url %>_dos_prevention", <%= deck.id %>)'><%= my_card.name %></a>
          <br />
        <% end %>
      </div>
    <% end %>


    <div class="col-4" class="full-height">
      <div id="cardPreview-<%= deck.id %>">
        <div class="card text-white bg-dark mb-3">
          <div class="card-body">
            <p class="card-text">Card Type: </p>
            <p class="card-text">Mana Cost: </p>
            <p class="card-text">Rarity: </p>
            <p class="card-text">Multiverse Id: </p>
            <p class="card-text">Box Location: </p>
            <img class="img-responsive"
              src="dos_prevention_"
              alt="Image not available"
              onerror="this.src='/assets/magic_card_back.jpg'">
          </div>
        </div>
      </div>
    </div>
  </div>

  Count: <%= deck_list.map(&:quantity).sum %>
</div>