<div class="tab-pane fade show <%= @active_deck.to_i == deck.id ? 'active' : '' %>" id="v-pills-<%= deck.id %>" role="tabpanel" aria-labelledby="v-pills-<%= deck.id %>-tab">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-success float-right" data-bs-toggle="modal" data-bs-target="#moveCardsModal-<%= deck.id %>">Add or Remove Cards</button>
      </div>
    </div>

    <div class="row alert alert-dark">
      <div class="col-12">
        <%= render partial: 'deck/decklist', locals: { deck: deck } %>
      </div>
    </div>
  </div>

  <%= render partial: 'deck/move_cards_modal', locals: { deck: deck } %>
</div>
