<div id="cardsForTradeCarousel" class="carousel slide background-black" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @traders.find_in_batches(batch_size: 18).with_index do |_card, index| %>
      <li data-target="#cardsForTradeCarousel" data-slide-to="<%= index%>" class="<%= index == 0 ? 'active' : '' %>"></li>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <% @traders.find_in_batches(batch_size: 18).with_index do |card_batch, batch_page| %>
      <div class="carousel-item <%= batch_page == 0 ? 'active' : '' %>">
        <% card_batch.each_with_index do |card, index| %>
          <% magic_card = MagicCard.find_by(name: card.name) %>
          <% if index % 6 == 0 && index != 0 %>
            <br />
          <% end %>
          <a href=<%= "#{MyCardController::GATHERER_MULTIVERSE_URL}#{magic_card.multiverse_id}" %>>
            <img class="img-responsive" src="<%= magic_card.image_url %>_dos_prevention", alt="Image for <%= card.name%> not available" onerror="this.src='/assets/magic_card_back.jpg'">
          </a>
        <% end %>
      </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#cardsForTradeCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#cardsForTradeCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>